body{
    background-color: black;
}
header{    
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}
header a{
    color: #fbff00;
    text-decoration: none;
    display: inline-block;
    transition: 0s;
    
}
header a:hover{
    color: #fbff00;
    transform: scale(1);
}
header nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}
header nav ul li{
    padding: 0 20px; 
}
header .btn-Login button{
    padding: 10px 40px;
    font-size: 20px 700px;
    font-weight: 600;
    background-color: #fffb00;
    border: 0;
    border-radius:30px;
    cursor: pointer;
}
header .btn-Login button:hover{
    box-shadow: 0px 0px 8px #fffb00;
   
}
mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
h1{
    color: #fff;
}
p{
    color: #fff;
}